<div class="stages-container">

  <div class="table-header">
    <div></div>
    <div>Ordem</div>
    <div>Nome da Tarefa</div>
    <div>Concluída?</div>
    <div>Ações</div>
  </div>

  <div cdkDropList class="drag-list" (cdkDropListDropped)="drop($event)">
    @for (tarefa of tarefasRecebidas(); track tarefa.id) {
    <div class="stage-row" cdkDrag>

      <!-- Drag Handle -->
      <div class="drag-col" cdkDragHandle>
        <mat-icon>drag_indicator</mat-icon>
      </div>

      <!-- Ordem -->
      <div class="order-col">
        {{ $index + 1 }}
      </div>

      <!-- Nome -->
      <div class="name-col">
        <mat-form-field appearance="outline" subscriptSizing="dynamic" class="compact-field">
          <input matInput [ngModel]="tarefa.nome" (ngModelChange)="atualizarTarefa(tarefa.id, { nome: $event })">
        </mat-form-field>
      </div>


      <!-- Status -->
      <div class="status-col">
        <mat-slide-toggle [ngModel]="tarefa.concluido" (ngModelChange)="atualizarTarefa(tarefa.id, { concluido: $event })">
        </mat-slide-toggle>
        <span>{{ tarefa.concluido ? 'Sim' : 'Não' }}</span>
      </div>

      <!-- Ações -->
      <div class="actions-col">
        <button class="button-delete" mat-icon-button color="warn" (click)="excluirTarefa(tarefa.id)">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </div>

    </div>
    }

  </div>
</div>