<mat-toolbar>

  <div class="left-controls">
    <span class="toolbar-title">{{title()}}</span>
    <span class="toolbar-description">{{description()}}</span>
  </div>

  <div class="right-controls">
    <!-- <div class="container-input-busca">
      <input class="input-busca" placeholder="Buscar Projetos">
    </div> -->

    @if (isProjetosUrl) {
    <button matButton="filled" class="button-create" (click)="openDialog()">
      <mat-icon>add</mat-icon>
      <span>Novo Projeto</span>
    </button>
    }

  </div>

</mat-toolbar>