<!-- <table mat-table [dataSource]="dataSource" class="projects-table">

  
  <ng-container matColumnDef="projeto">
    <th mat-header-cell *matHeaderCellDef>
      Projeto
    </th>

    <td mat-cell *matCellDef="let projeto">
      <div class="project-cell">

        <div
          class="project-icon"
          [style.background-color]="projeto.cor"
        >
          {{ projeto.sigla }}
        </div>

        <div class="project-info">
          <span class="project-name">
            {{ projeto.nome }}
          </span>

          <span class="project-description">
            {{ projeto.descricao }}
          </span>
        </div>

      </div>
    </td>
  </ng-container>


  
  <ng-container matColumnDef="cliente">
    <th mat-header-cell *matHeaderCellDef>
      Cliente
    </th>

    <td mat-cell *matCellDef="let projeto">
      {{ projeto.cliente }}
    </td>
  </ng-container>


  
  <ng-container matColumnDef="gerente">
    <th mat-header-cell *matHeaderCellDef>
      Gerente
    </th>

    <td mat-cell *matCellDef="let projeto">

      <div class="manager-cell">

        <img
          class="manager-avatar"
          [src]="projeto.gerente.avatar"
          [alt]="projeto.gerente.nome"
        >

        <span>
          {{ projeto.gerente.nome }}
        </span>

      </div>

    </td>
  </ng-container>


  
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>
      Status
    </th>

    <td mat-cell *matCellDef="let projeto">

      <span
        class="status"
        [ngClass]="{
          'status-andamento': projeto.status === 'Em andamento',
          'status-concluido': projeto.status === 'Concluído',
          'status-pausa': projeto.status === 'Em pausa',
          'status-atrasado': projeto.status === 'Atrasado'
        }"
      >
        {{ projeto.status }}
      </span>

    </td>
  </ng-container>


  
  <ng-container matColumnDef="progresso">
    <th mat-header-cell *matHeaderCellDef>
      Progresso
    </th>

    <td mat-cell *matCellDef="let projeto">

      <div class="progress-cell">

        <span class="progress-value">
          {{ projeto.progresso }}%
        </span>

        <div class="progress-bar">
          <div
            class="progress-fill"
            [style.width.%]="projeto.progresso"
            [style.background-color]="projeto.progressoCor"
          ></div>
        </div>

      </div>

    </td>
  </ng-container>


  
  <ng-container matColumnDef="inicio">
    <th mat-header-cell *matHeaderCellDef>
      Início
    </th>

    <td mat-cell *matCellDef="let projeto">
      {{ projeto.inicio }}
    </td>
  </ng-container>


  
  <ng-container matColumnDef="termino">
    <th mat-header-cell *matHeaderCellDef>
      Término
    </th>

    <td mat-cell *matCellDef="let projeto">
      {{ projeto.termino }}
    </td>
  </ng-container>


  
  <ng-container matColumnDef="orcamento">
    <th mat-header-cell *matHeaderCellDef>
      Orçamento
    </th>

    <td mat-cell *matCellDef="let projeto">
      {{ projeto.orcamento }}
    </td>
  </ng-container>


  
  <ng-container matColumnDef="acoes">
    <th mat-header-cell *matHeaderCellDef>
      Ações
    </th>

    <td mat-cell *matCellDef="let projeto">

      <button
        matIconButton
        [matMenuTriggerFor]="menu"
        aria-label="Ações do projeto"
      >
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>visibility</mat-icon>
          <span>Visualizar</span>
        </button>

        <button mat-menu-item>
          <mat-icon>edit</mat-icon>
          <span>Editar</span>
        </button>

        <button mat-menu-item>
          <mat-icon>delete</mat-icon>
          <span>Excluir</span>
        </button>
      </mat-menu>

    </td>
  </ng-container>


  
  <tr
    mat-header-row
    *matHeaderRowDef="displayedColumns"
  ></tr>


  
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
  ></tr>

</table> -->

<table mat-table [dataSource]="dataSource" class="projects-table">

    <!-- PROJETO -->
    <ng-container matColumnDef="projeto">
        <th mat-header-cell *matHeaderCellDef class="project-header-cell">
            Projeto
        </th>

        <td mat-cell *matCellDef="let projeto" class="project-cell-wrapper">
            <div class="project-cell">

                <div class="project-icon" [style.background-color]="projeto.cor">
                    {{ projeto.sigla }}
                </div>

                <div class="project-info">

                    <span class="project-name">
                        {{ projeto.nome }}
                    </span>

                    <span class="project-description">
                        {{ projeto.descricao }}
                    </span>

                </div>

            </div>
        </td>
    </ng-container>


    <!-- CLIENTE -->
    <ng-container matColumnDef="cliente">

        <th mat-header-cell *matHeaderCellDef class="project-header-cell">
            Cliente
        </th>

        <td mat-cell *matCellDef="let projeto" class="project-data-cell">
            {{ projeto.cliente }}
        </td>

    </ng-container>


    <!-- GERENTE -->
    <ng-container matColumnDef="gerente">

        <th mat-header-cell *matHeaderCellDef class="project-header-cell">
            Gerente
        </th>

        <td mat-cell *matCellDef="let projeto" class="project-data-cell">

            <div class="manager-cell">

                <img class="manager-avatar" [src]="projeto.gerente.avatar" [alt]="projeto.gerente.nome">

                <span class="manager-name">
                    {{ projeto.gerente.nome }}
                </span>

            </div>

        </td>

    </ng-container>


    <!-- STATUS -->
    <ng-container matColumnDef="status">

        <th mat-header-cell *matHeaderCellDef class="project-header-cell">
            Status
        </th>

        <td mat-cell *matCellDef="let projeto" class="project-data-cell">

            <span class="status" [class.status-andamento]="projeto.status === 'Em andamento'"
                [class.status-concluido]="projeto.status === 'Concluído'"
                [class.status-pausa]="projeto.status === 'Em pausa'"
                [class.status-atrasado]="projeto.status === 'Atrasado'">
                {{ projeto.status }}
            </span>

        </td>

    </ng-container>


    <!-- PROGRESSO -->
    <ng-container matColumnDef="progresso">

        <th mat-header-cell *matHeaderCellDef class="project-header-cell">
            Progresso
        </th>

        <td mat-cell *matCellDef="let projeto" class="project-data-cell">

            <div class="progress-cell">

                <span class="progress-value">
                    {{ projeto.progresso }}%
                </span>

                <div class="progress-bar">
                    <div class="progress-fill" [style.width.%]="projeto.progresso"
                        [style.background-color]="projeto.progressoCor"></div>
                </div>

            </div>

        </td>

    </ng-container>


    <!-- INÍCIO -->
    <ng-container matColumnDef="inicio">

        <th mat-header-cell *matHeaderCellDef class="project-header-cell">
            Início
        </th>

        <td mat-cell *matCellDef="let projeto" class="project-data-cell">
            {{ projeto.inicio }}
        </td>

    </ng-container>


    <!-- TÉRMINO -->
    <ng-container matColumnDef="termino">

        <th mat-header-cell *matHeaderCellDef class="project-header-cell">
            Término
        </th>

        <td mat-cell *matCellDef="let projeto" class="project-data-cell">
            {{ projeto.termino }}
        </td>

    </ng-container>


    <!-- ORÇAMENTO -->
    <ng-container matColumnDef="orcamento">

        <th mat-header-cell *matHeaderCellDef class="project-header-cell">
            Orçamento
        </th>

        <td mat-cell *matCellDef="let projeto" class="project-data-cell">
            {{ projeto.orcamento }}
        </td>

    </ng-container>


    <!-- AÇÕES -->
    <ng-container matColumnDef="acoes">

        <th mat-header-cell *matHeaderCellDef class="project-header-cell actions-header">
            Ações
        </th>

        <td mat-cell *matCellDef="let projeto" class="project-data-cell actions-cell">

            <button matIconButton [matMenuTriggerFor]="menu" class="project-action-button"
                aria-label="Ações do projeto">
                <mat-icon>more_vert</mat-icon>
            </button>

            <mat-menu #menu="matMenu">

                <button mat-menu-item>
                    <mat-icon>visibility</mat-icon>
                    <span>Visualizar</span>
                </button>

                <button mat-menu-item>
                    <mat-icon>edit</mat-icon>
                    <span>Editar</span>
                </button>

                <button mat-menu-item>
                    <mat-icon>delete</mat-icon>
                    <span>Excluir</span>
                </button>

            </mat-menu>

        </td>

    </ng-container>


    <!-- CABEÇALHO -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="project-header-row"></tr>


    <!-- LINHAS -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns" class="project-row"></tr>

</table>