/* =========================================
   TABELA
   ========================================= */

.projects-table {
  width: 100%;
  flex: 1;
  background: #ffffff;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}


/* =========================================
   CABEÇALHO
   ========================================= */

.project-header-row {
  height: 48px;
}

.project-header-cell {
  padding: 0 16px;

  font-size: 12px;
  font-weight: 600;

  color: #293044;

  text-align: left;

  border-bottom: 1px solid #edf0f5;
}


/* =========================================
   LINHAS
   ========================================= */

.project-row {
  height: 72px;

  transition: background-color 0.15s ease;
}

.project-row:hover {
  background-color: #fafbfc;
}


/* =========================================
   CÉLULAS
   ========================================= */

.project-data-cell {
  padding: 0 16px;

  font-size: 13px;

  color: #4b5567;

  border-bottom: 1px solid #edf0f5;
}


/* =========================================
   PROJETO
   ========================================= */

.project-info {
  display: flex;
  flex-direction: column;

  gap: 3px;

  // min-width: 100px;
  width: 500px;
}

.project-name {
  font-size: 13px;
  font-weight: 600;

  color: #263044;

  line-height: 18px;
}

.project-description {
  font-size: 11px;

  color: #7c8494;

  line-height: 16px;
}


/* =========================================
   CRIADO POR
   ========================================= */

.manager-cell {
  display: flex;
  align-items: center;

  white-space: nowrap;
}

.manager-name {
  font-size: 12px;

  color: #3f4757;
}


/* =========================================
   STATUS
   ========================================= */

.status {
  display: inline-flex;
  align-items: center;

  padding: 5px 9px;

  border-radius: 5px;

  font-size: 11px;
  font-weight: 500;

  white-space: nowrap;
}

// ================================================

.data-termino {
  display: inline-flex;
  align-items: center;
  padding: 5px 9px;
  border-radius: 5px;
  font-size: 13px;
  white-space: nowrap;
  text-align: center;
}
.data-inicio {
  display: inline-flex;
  align-items: center;
  padding: 5px 9px;
  border-radius: 5px;
  font-size: 13px;
  white-space: nowrap;
}
.orcamento {
  display: inline-flex;
  align-items: center;
  padding: 5px 9px;
  border-radius: 5px;
  font-size: 13px;
  white-space: nowrap;
}

.status-concluido {
  color: #2F80ED;
  background: #EAF3FF;
}

.status-andamento {
  color: #2DBE60;
  background: #E8F8EE;
}

.status-nao-iniciado {
  color: #F59E0B;
  background: #FEF3C7;
}

.data-atrasada {
  color: #fff;
  background-color: #fd6161;

}

// 

/* =========================================
   Progresso
   ========================================= */

.progress-container {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.progress-bar {
  width: 100px;
  height: 8px;
  background-color: #e9edf2;
  border-radius: 999px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  border-radius: 999px;
  background: linear-gradient(90deg,
      #a7e8c2 0%,
      #4fbd7e 50%,
      #24935c 100%);

  transition: width 0.3s ease;
}

.progress-text {
  font-size: 13px;
  color: #5f6368;
  white-space: nowrap;
}


/* =========================================
   AÇÕES
   ========================================= */

.actions-header {
  text-align: center;
}

.actions-cell {
  text-align: center;
}
mat-icon.mat-icon-delete{
  color: var(--mat-sys-error);
}
mat-icon.mat-icon-open-dialog{
  color: var(--mat-sys-primary);
}

/* =========================================
       Paginator
       ========================================= */

mat-paginator {
  background-color: #fff;
}