<div class="stages-container">

  <div class="table-header">
    <div class="header-drag"></div>
    <div class="header-ordem">Ordem</div>
    <div class="header-nome">Nome da Tarefa</div>
    <div class="header-prazo">Prazo</div>
    <div class="header-concluida">Concluída?</div>
    <div class="header-acoes">Ações</div>
  </div>

  <div cdkDropList class="drag-list" (cdkDropListDropped)="drop($event)">
    @for (tarefa of tarefas(); track tarefa.id ?? tarefa.tempId) {
    <div class="stage-row" cdkDrag>

      <!-- Drag Handle -->
      <div class="drag-col" cdkDragHandle>
        <mat-icon>drag_indicator</mat-icon>
      </div>

      <!-- Ordem -->
      <div class="order-col">{{ $index + 1 }}</div>

      <!-- Nome -->
      <div class="name-col">
        <mat-form-field appearance="outline" subscriptSizing="dynamic" class="compact-field">
          <input matInput [ngModel]="tarefa.nome" (ngModelChange)="atualizarTarefa(tarefa, { nome: $event })"
            (keydown.enter)="$event.preventDefault(); adicionarTarefa()">
        </mat-form-field>
      </div>

      <div class="range-prazo">
        <mat-form-field appearance="outline">
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate placeholder="Início" [ngModel]="tarefa.dataInicio"
              (ngModelChange)="atualizarTarefa(tarefa, { dataInicio: $event })">
            <input matEndDate placeholder="Término" [ngModel]="tarefa.dataTermino"
              (ngModelChange)="atualizarTarefa(tarefa, { dataTermino: $event })">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="picker">
          </mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>

      </div>

      <!-- Status -->
      <div class="status-col">
        <mat-slide-toggle [ngModel]="tarefa.concluido" (ngModelChange)="atualizarTarefa(tarefa, { concluido: $event })">
        </mat-slide-toggle>
        <span>{{ tarefa.concluido ? 'Sim' : 'Não' }}</span>
      </div>

      <!-- Ações -->
      <div class="actions-col">
        <button class="button-delete" mat-icon-button color="warn" (click)="excluirTarefa(tarefa)">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </div>

    </div>
    }
  </div>
  <div class="add-task">
    <button mat-stroked-button type="button" (click)="adicionarTarefa()">
      <mat-icon>add</mat-icon>
      <span>Adicionar tarefa</span>
    </button>
  </div>
</div>