// ============================================
// CONTAINER PRINCIPAL
// ============================================

.main {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    flex: 1;

    padding-inline: 30px;
    padding-top: 10px;
    padding-bottom: 30px;

    gap: 20px;

    background-color: #f7fafe;
}


// ============================================
// CARDS DE STATUS
// ============================================

.cards-container-status {
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;

    flex: 1;

    gap: 16px;
}