.main {
    display: flex;
    flex-direction: column;
    height: 100%;

}

.titulo-painel {
    display: flex;
    flex-direction: row;
    font-size: 21px;
    font-weight: 400;
}

.painel-projeto {
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.lista-tarefas {
    display: flex;
    flex: 1;
}

.main router-outlet {
    flex: 1;
}