<mat-toolbar>

  <button matIconButton class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>

  <span>Projetos</span>

  <span class="spacer"></span>

  <div class="controles-direita">
    <div class="container-input-busca">
      <input class="input-busca" placeholder="Buscar Projetos">
    </div>

    <button matButton="outlined">
      <mat-icon>filter_alt</mat-icon>
      <span>Filtro</span>
    </button>

    <button matButton="filled">
      <mat-icon>add</mat-icon>
      <span>Novo Projeto</span>
    </button>
  </div>

</mat-toolbar>