.spacer {
    flex: 1 1 auto;
}

.input-busca {
    font-size: 14px;
    height: auto;
    border: 0.5px solid rgb(185, 185, 185);
    border-radius: 10px;
    padding: 10px;

    &:hover {
        background-color: #f1f1f1;
    }
    &:focus {
        border: 1.3px solid rgb(136, 136, 136);
        outline: none;
    }
}

.container-input-busca {
    display: flex;
}

.controles-direita {
    display: flex;
    gap: 5px;
}

.find-button {
  background-color: #632aff;
  color: white;
  border-radius: 10px;
}