.spacer {
  flex: 1 1 auto;
}

.input-busca{
    font-size: 14px;
    height: auto;
    border: 0.5px solid black;
    border-radius: 15px;
    padding: 10px;
    
    &:hover{
        background-color: #f1f1f1;
    }
}

.container-input-busca{
    display: flex;
}

.controles-direita{
     display: flex;
     gap: 5px;
}