html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    color-scheme: light;
    background-color: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
    font: var(--mat-sys-body-medium);
}